.home {
  h1 {
    color: $primaryFontColor;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

    img {
      width: 80vw;
    }
  }

  .home__menu-grid {
    display: none;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;

    @include tablet {
      display: flex;
    }

    .home__menu-grid__menu-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      border: 2px solid $primaryColor;
      border-radius: 10px;
      text-align: center;
      font-weight: 500;

      &:hover {
        background: $teriaryColor;
      }
    }
  }

  .home__about {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;

    a {
      text-decoration: none;

      &:hover,
      &:visited {
        color: inherit;
      }
    }
  }
}
