$primaryColor: #00c3ff;
$secondaryColor: #0c7be8;
$teriaryColor: #f1fffb;
$primaryFontColor: #696969;
$primaryBackgroundColor: #000813;
$secondaryBackgroundColor: #e4f9ff;

$success: #14ff75;
$error: #ff2214;
