#menu {
  width: 80px;
  height: 80px;
  position: fixed;
  right: 5px;
  bottom: 5px;
  margin: -40px 0 0 -40px;
  list-style: none;
  font-size: 200%;
  transform: rotateZ(-45deg);
}

.menu-button {
  opacity: 0;
  z-index: -1;
}

.menu-button {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -40px;
  border-radius: 50%;
  background: #424242;
  background-size: 100%;
  overflow: hidden;
  text-decoration: none;

  &.icon-minus {
    padding-bottom: 9px;
  }
}

#menu > div {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  z-index: 1;
  color: #fff;
  transform: rotateZ(45deg);
  font-size: 64px;
  font-weight: 500;
  cursor: pointer;
}

.menu-item {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 55%;
  line-height: 5px;
  top: 50%;
  margin: -35px 0 0 -35px;
  border-radius: 50%;
  background-color: #424242;
  transform: translate(0px, 0px);
  transition: transform 500ms;
  z-index: -2;
  transition: 0.3s;
  cursor: pointer;
}

.menu-item:hover {
  opacity: 0.5;
  box-shadow: 0 5px 10px black;
}

.menu-item div {
  display: flex;
  justify-content: center;
  color: #fff;
  position: relative;
  top: 45%;
  left: 0;
  text-decoration: none;
  font-size: 16px;
}

#menu.open {
  .menu-item:nth-child(2) {
    transform: rotate(-55deg) translateY(-100px) rotate(50deg);
    transition-delay: 0.15s;
  }

  .menu-item:nth-child(3) {
    transform: rotate(-18deg) translateY(-105px) rotate(15deg);
    transition-delay: 0.1s;
  }

  .menu-item:nth-child(4) {
    transform: rotate(18deg) translateY(-105px) rotate(-20deg);
    transition-delay: 0.05s;
  }

  .menu-item:nth-child(5) {
    transform: rotate(55deg) translateY(-100px) rotate(300deg);
    transition-delay: 0s;
  }

  .menu-item:nth-child(6) {
    transform: rotate(50.5deg) translateY(-170px) rotate(300deg);
    transition-delay: 0s;
  }
  .menu-item:nth-child(7) {
    transform: rotate(49deg) translateY(-240px) rotate(300deg);
    transition-delay: 0s;
  }
  .menu-item:nth-child(8) {
    transform: rotate(48deg) translateY(-310px) rotate(300deg);
    transition-delay: 0s;
  }
  .menu-item:nth-child(9) {
    transform: rotate(47.5deg) translateY(-380px) rotate(300deg);
    transition-delay: 0s;
  }
  .menu-item:nth-child(10) {
    transform: rotate(-51deg) translateY(-170px) rotate(50deg);
    transition-delay: 0.15s;
  }
  .menu-item:nth-child(11) {
    transform: rotate(-49.5deg) translateY(-240px) rotate(50deg);
    transition-delay: 0.15s;
  }
  .menu-item:nth-child(12) {
    transform: rotate(-48.5deg) translateY(-310px) rotate(50deg);
    transition-delay: 0.15s;
  }
}
